@page
@model CIT365_W9_MegaDeskV2.Pages.RushTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].Tier1Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].Tier2Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].Tier3Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RushType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tier1Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tier2Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tier3Cost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-Id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-Id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
