@page
@model CIT365_W9_MegaDeskV2.Pages.RushTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].tier1Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].tier2Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushType[0].tier3Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RushType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tier1Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tier2Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tier3Cost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
