@page
@model CIT365_W9_MegaDeskV2.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.customerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.customerName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.desk.width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.desk.width)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.desk.depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.desk.depth)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.desk.drawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.desk.drawers)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.desk.surfaceMaterial.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.desk.surfaceMaterial.description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.rushID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.rushID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.totalQuote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.totalQuote)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
