@page
@model MegaDesk.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.Drawers)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.SurfaceMaterialId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushId)
            </th>*@
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Desk.Width)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Desk.Depth)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Desk.Drawers)
            </th>
            @*<th>
                @Html.DisplayFor(modelItem => item.Desk.SurfaceMaterialId)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.RushId)
            </th>*@
            <td>
                @item.QuotePrice
            </td>
            <td>
                <a asp-page="./Edit" asp-route-Id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-Id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
